h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: red;
    color: white;
}

li {
    font-weight: normal;
    color: blue;
}

button {
    background-color: gold;
    color: black;
    font-weight: bold;
}